body {
    width: 960px;
    margin: auto;
    }

.nav ul { 
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
      }

 .nav li {
      font-family: 'Anton', sans-serif;
      font-size: 40px;
      line-height: 40px;
      height: 40px;
      width: 280px;
      margin-top: 20px;
     display: inline-block;
     padding: 0;
    }

/* chosen color palette is Icelandic flag colors */   

    .nav a {
      text-decoration: none;
      color: #DC1E35;
    }
    
    .nav a:hover {
      background-color: #02529C;
    }
    
    
.country-name {
    font-family: 'Anton', sans-serif;
    font-size: 120px;
    text-align: center;
    color: #FFF;
    background-color:  #02529C;
    margin-bottom: 30px;
    }

.intro {
       font-family: 'Open Sans Condensed', sans-serif;
       font-size: 30px;
       padding-bottom: 50px;
       }

/* pseudo selector first letter styled to form a drop-cap effect */ 

.intro:first-letter {
    color: #FA0004;
    float: left;
    font-size: 550px;
    line-height: 380px;
    padding-top: 4px 3px 8px 0;
    }

#scenic {
    display: inline-block;
    width: 850px;
    padding: 0;
    margin: 0 25px 30px 25px;
    }

/* quote about Iceland floats right */ 

.quote{
    font: 20px 'Open Sans Condensed', sans-serif;
    color: #FFF;
      float: right;
    width: 50%;
    margin: 0;
    padding: 10px;
    border: 2px;
    border-radius: 15px;
    background-color: #FA0004;
    }
    
/* peekaboo effect is achieved with hover on bird image and quote */ 

.intro:hover>.bird {
    display: none;
    }
    
.intro:hover>.quote {
    display: block;
    }
    
    
    
.famous {
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
 
 }
 
 .landscape {
     float: left;
 }
 
 .tips {
     text-align: left;
     font-family: 'Anton', sans-serif;
     font-size: 30px;
     color: #FA0004;
 }
 
.activities {
     font-family: 'Open Sans Condensed', sans-serif;
     }
     

.activity-list {
    font-size: 25px;
    text-align: left;
  width: 260px;
  
}

.sights {
    font-size: 25px;
    text-align: left;
    width: 700px;
    
}

td {
    background-color: #F7F7F7;
}

.lagoon a {
    text-decoration: none;
    color: #C84EF5;
 }

.falls a {
    text-decoration: none;
    color: #C84EF5;
}

.beach a {
    text-decoration: none;
    color: #C84EF5;
    }

.traveldeals {
    font-family: 'Open Sans Condensed', sans-serif;
    
    }
.travel-provider {
    font-size: 25px;
    text-align: left;
  width: 260px;
  }

.airline{
    font-size: 25px;
    text-align: left;
    width: 700px;
}
.icelandair a {
    text-decoration: none;
    color: #C84EF5;
   
}

.nordic a {
    text-decoration: none;
    color: #C84EF5;
  
}

.join {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}


.intouch {
    color: #FA0004;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

/* form overflow value must be hidden to contain form elements */ 

form {
    border: 1px solid #E6F1F5;
  border-radius: 5px;
  font: 20px, 'Open Sans Condensed' sans-serif;
  overflow: hidden;
  width: 240px;
  }
/* form width value must be 240px to contain all form elements */ 

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
    }
  
  action {
      padding: 20px 20px 0 20px;
  }  
  

/*used CSS3 to style input boxes */

input {
      border-radius: 5px;
     font-size: 20px;
     height: 25px;
	width: 200px;
    margin-left: 15px;
	-webkit-box-shadow: inset 0 0 10px #02529C;
	 -moz-box-shadow: inset 0 0 10px #02529C;
	 box-shadow: inset 0 0 10px #02529C;
 }
 
 submit {
     font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
     }
 
 .action {
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 20px;
  }

.message {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    
}

.email{
    font-family: 'Open Sans Condensed', sans-serif;
     font-size: 18px;
     margin: 5px;
    }
    
button {
    font-family: 'Open Sans Condensed', sans-serif;
     font-size: 18px;
     margin: 5px;
     color: #FA0004;
    }

/*used CSS3 to style message textarea box */
#msg {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    width: 220px;
    height: 200px;
    margin: 8px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 10px #02529C;
	 -moz-box-shadow: inset 0 0 10px #02529C;
	 box-shadow: inset 0 0 10px #02529C;
    }

#back-home {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 20px 0 20px 0;
    text-align: center;
    width: 15%;
    border: 10px double;
      border-color:  #02529C #FA0004 ;
      border-radius: 50px ;
      padding: 5px;
    }

#back-home a {
    text-decoration: none;
    color: #02529C;
    }
    
#back-home a:hover {
     color: #FA0004;
     border: 2px solid;
     border-radius: 10px;
     padding: 5px;
    }